.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.filter-bar {
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    text-align: center;

    width: min(90%, 700px);
    height: min(50%, 700px);   
    max-height: 700px;         

    border-radius: 24px;     
    
    background-color: pink;
}